body{
    background-image: url("fondo2.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

h1{
	background-color:black;
	font-family:serif;
    text-align:left;
    color:white;
}
.container{
	text-align: left;
}